/*RESET BOOTSTRAP*/
.table {
  margin-bottom: 0 !important;
}
.table thead {
  border-top: 1px solid #ddd;
}
.table > tfoot > tr > td {
  border-top: none !important;
}
.table tbody {
  background: #fff;
}

/*CART*/
.cart-page {
  font-family: 'Roboto Regular';
}
.cart-page #main-content .section:nth-child(2) {
  padding-top: 0 !important;
}
.cart-page #main-content {
  width: 100% !important;
  padding-right: 0 !important;
}
#info-cart-wp table tr td {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#info-cart-wp table thead tr td {
  font-size: 15px;
  line-height: normal;
  text-transform: uppercase;
  padding: 16px;
  color: #333;
  background: #f1f1f1;
  border: 0;
}
#info-cart-wp table tbody tr td {
  color: #222;
  padding: 10px 0px;
}
#info-cart-wp table tbody tr td .num-order {
  width: 35px;
  height: 35px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#info-cart-wp table tbody tr td .thumb {
  display: inline-block;
  width: 150px;
  min-height: 100px;
  overflow: hidden;
}
#checkout-cart {
  display: inline-block;
  padding: 12px 25px;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 3px;
  font-family: 'Roboto Bold';
  font-weight: normal;
  border: none;
  outline: none;
  background: #3f5da6;
  color: #fff;
}
#update-cart {
  display: inline-block;
  padding: 12px 25px;
  color: #333;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 3px;
  background: #ececec;
  margin-right: 5px;
  border: 1px solid #d6d6d6;
  font-family: 'Roboto Bold';
  font-weight: normal;
}
#update-cart:hover {
  background: #dadada;
}
#checkout-cart:hover {
  background: #2b478c;
}
#cart-wp table tfoot tr td #action-cart a:nth-child(2) {
  margin-right: 0;
}
.total-price {
  font-size: 18px;
  text-transform: uppercase;
  margin: 15px 0px;
  display: flex;
  justify-content: flex-end;
  gap: 0 10px;
}
.total-price span {
  color: #ad0000;
  font-family: 'Roboto Medium';
}
#action-cart-wp {
  margin-top: 30px;
}
#action-cart-wp .title {
  margin-bottom: 10px;
  line-height: 24px;
}
#action-cart-wp .section-detail .title span {
  font-family: 'Roboto Medium';
  font-weight: normal;
}
#action-cart-wp a {
  display: inline-block;
  color: #006cbb;
  line-height: 21px;
  text-decoration: underline !important;
}
#action-cart-wp #buy-more {
  margin-bottom: 5px;
}
#info-cart-wp table tfoot tr td {
  padding: 0px;
}
.table > tbody > tr > th,
.table > tbody > tr > td {
  border-bottom: 1px solid #ddd;
}
input[name='filter-btn'] {
  display: inline-block;
  min-width: 100px;
  font-family: inherit;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 4px 0;
  background-color: #da1818;
  border: 1px solid transparent;
  color: #fff;
  transition: background-color 0.25s ease;
  will-change: background-color;
}
input[name='filter-btn']:hover {
  background-color: #fff;
  color: #da1818;
  border-color: #da1818;
}
.section-detail.section-detail--cart {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
#btn-buy-product,
#btn-remove-product {
  outline: none;
  border: none;
  color: #fff;
  min-width: 100px;
  padding: 5px 15px;
  border-radius: 6px;
}
.btn--style {
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}
